<!-- app/views/dashboard/index.html.erb -->
<div class="container container-dashboard">
  <h1>Welcome, <%= current_user.first_name %></h1>
  <% if current_user.habits.count > 0 %>
    <p class="text-active-habits fs-5">You have <%= Habit.active_habits_count(current_user) %>
    active habits</p>
  <% else %>
    <div>
    <%= link_to new_habit_path, class: "text-decoration-none fs-5 pt-3 link-create-habit" do %>
      <i class="fa fa-plus me-2"></i> <span>Create a habit</span>
    <% end %>
    <div class ="text-center mt-5 text-no-habits fs-5">
        You have yet to create any habits
    </div>
    </div>
  <% end %>
</div>

<%= javascript_include_tag 'progressRing' %>
