<!-- app/views/dashboard/index.html.erb -->
<div class="container container-dashboard">
  <h1>Welcome, <%= current_user.first_name %></h1>
  <% if current_user.habits %>
    <p class="text-active-habits">You have <%= current_user.habits.count %> active habits</p>

  <% else %>
    <div>
    <%= link_to "Create a habit",  %>
      <div class ="text-center">
          You have no habtis
      </div>
    </div>
  <% end %>
</div>
