<div class="container mt-3">
  <% flash.each do |type, message| %>
    <div class="flash flash-<%= type %> alert alert-dismissible fade show" role="alert">
      <span><strong><%= type.capitalize %>:</strong> <%= message %></span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>
