<!-- app/views/pages/home.html.erb -->
<style>
  .home-container {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
  }

  .home-title {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }

  .home-description {
    font-size: 18px;
    color: #777;
    line-height: 1.6;
  }

  .home-button {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 24px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .home-button:hover {
    background-color: #0056b3;
  }
</style>



<div class="home-container">
  <h1 class="home-title">Welcome to Habit Pulse</h1>
  <p class="home-description">This innovative app is designed to help you organize your habits and achieve success in every area of your life.</p>
<<<<<<< HEAD
=======

  <%= link_to "Try Habit Pulse", dashboard_path, class: "btn btn-primary try-habit-pulse-button"  %>
>>>>>>> master
</div>
<!-- app/views/home/index.html.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <header>
    <div class="container">
    </div>
  </header>

  <main>
    <section class="hero">
      <div class="container">
        <!-- Using the image_tag helper to include the image -->
        <%= image_tag 'image_habitpulse.jpg', alt: 'Hero Image' %>
      </div>
    </section>

    <section class="content">
      <div class="container">
      </div>
    </section>
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2024 HabitPulse. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>


