// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "new_styles";
// app/assets/stylesheets/application.scss
@import "style";


.left {
  color: red;
}

.profile-image-placeholder {
  width: 100px;
  /* Adjust size as needed */
  height: 100px;
  /* Adjust size as needed */
  background-color: #ccc;
  /* Placeholder background color */
  border-radius: 50%;
  /* Make it circular */
  border: 2px solid #999;
  /* Optional: border for the circle */
  margin-bottom: 10px;
  /* Optional: adjust spacing */
}

.btn {
  border-width: 3px;
}

.percentage-ring-container {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
}

.percentage-ring {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(#4CAF50 0%, #4CAF50 var(--percentage), #E0E0E0 var(--percentage), #E0E0E0 100%);
}

.percentage-value {
  background: #B6D7E4;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
}
