// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "new_styles";

.left {
  color: red;
}

.profile-image-placeholder {
  width: 100px;
  /* Adjust size as needed */
  height: 100px;
  /* Adjust size as needed */
  background-color: #ccc;
  /* Placeholder background color */
  border-radius: 50%;
  /* Make it circular */
  border: 2px solid #999;
  /* Optional: border for the circle */
  margin-bottom: 10px;
  /* Optional: adjust spacing */
}




.btn {

  border-width: 3px;
  line-height: 2;
  min-width: 173px;
}
.form-control, .form-select {

  background-color: #C6CAED;
    border-radius: 2rem;
    line-height: 2;

    font-weight: 400;
    font-size: 1.2rem;
    opacity: 0.9;
    &:focus {
      background-color: #C6CAED;
    }

}
