.create-form-container {
    background-color: lightblue;
}

.create-habit {
    color: green; // working 
}

.date-display {
    color:purple; // working 
}

.habit-label {
    color:yellow; // working 
}

.category-label {
    color: rgb(128, 4, 25); // working 
}

.frequency {
    color:red; // working 
}

.reminder-label {
    color: bisque; // working
}

.description-label {
    color: aquamarine;
}

.habit-btn {
    background-color: blue;
}